
*{
  margin: 0;
  padding: 0;
}

main {
  background-image: url("/Images/HomePage-BackGround.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.homePagecontent {
  text-align: center;
  height: 80vh;
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #ffffff70;
  border-radius: 10px;
}

.homePagecontent h2 {
  font-size: 70px;
  font-weight: bolder;
  font-weight: bold;
  color: #000000; 
  margin-bottom: 10px;
}

.homePagecontent p {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

.homePagebuttonSection button {
  padding: 10px 20px;
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.homePagebuttonSection button:hover {
  background-color: #0056b3;
}